@media screen and (max-width: 1439px) {
    .content-single-related{
        width: 32.95%;
    }
}
@media screen and (max-width: 1200px) {
    .feed-posts{
        width: 90%;
    }
    .content-single-related {
        width: 32.5%;
    }
    .footer a.logo-button {
        width: 280px;
    }
    .logo-header {
        width: 130px;
    }
}
@media screen and (max-width: 1024px) {
    .small{
        font-size: 8px;
    }
    .v_small{
        font-size: 10px;
    }
    .medium{
        font-size: 12px;
    }
    .big{
        font-size: 16px;
    }
    .title{
        font-size: 21px;
    }
    .titlespecial{
        font-size: 32px;
    }
    #menu-header li a{
        font-size: 15px;
    }
    #menu-header li{
        width: 82px;
    }
    .menu-button{
        left: 25px;
    }
    object.logo{
        width: 140px;
    }
    a.logo-button{
        left: 87px;
    }
    .single-post {
        width: 100%!important;
        display: block;
    }
    body.archive.author .grid-author .info-author {
        width: 70%;
    }
    .content-single-related {
        display: block;
        width: 100%;
        padding: initial;
        margin-bottom: 12px;
    }
    .footer a.logo-button object {
        width: 300px;
    }
    .mc4wp-form-fields label{
        font-size: 19px;
    }
    .mc4wp-form-fields input[type="email"], .mc4wp-form-fields input[type="submit"]{
        height: 35px;
        line-height: 35px;
        font-size: 19px;
    }
    .text-somos {
        width: 80%;
    }
    .logo-header {
        width: 120px;
    }
}
@media screen and (max-width: 800px) {
    .menu-menu-header-container{
        display: none;
    }
    .search-button{
        width: 35px;
        padding-top: 15px;
    }
    object.logo{
        width: 170px;
    }
    .single-header.relative .centrar_total {
        width: 80%;
    }
    .body-single{
        margin-top: 40px;
    }
    main.main-single {
        display: block;
        width: 100%;
    }

    aside.single-aside-left {
        margin-left: 0%;
        width: 50%;
        margin: 0 auto;
        display: block;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .grid-author {
        text-align: center;
    }
    body.archive.author .grid-author .info-author{
        text-align: left;
    }
    .menu-oculto{
        display: block;
    }
    .new-foto-instagram {
        width: 120px;
        height: 120px;
    }
    .second-menu .centrar_total {
        top: 39%;
        width: 65%;
    }
    .second-menu .centrar_ancho{
        width: 70%;
    }
    main.main-single{
        padding-left: initial;
    }
    .slide-up{
        bottom: 20px;
        right: 20px;
    }
    .footer a.logo-button {
        width: 200px;
    }
    .logo-header {
        left: 50%!important;
        transform: translate(-50%,-50%)!important;
        width: 160px;
    }
    .main-single iframe{
        width: 100%!important;
    }
}
@media screen and (max-width: 679px) {
    .title{
        font-size: 18px;
    }
    .titlespecial{
        font-size: 32px;
    }
    .info-post{
        width: 80%;
    }
    .feed-posts{
        margin-top: 35px;
    }
    .info-post .excerpt{
        position: initial!important;
        line-height: 19px;
    }
    .single-post .shadow-position{
        opacity: 0.5;
    }
    .info-post{
        min-height: initial;
    }
    .content-footer{
        display: block;
        width: 100%;
    }
    .content-footer .centrar_total {
        position: relative;
        top: initial;
        left: initial;
        transform: initial;
        text-align: center;
    }
    .content-footer{
        min-height: 100px;
    }
    .footer {
        padding: 40px 0px;
    }
    .footer object.logo{
        width: 270px;
    }
    .content-principal .foto-autor{
        width: 40px;
        height: 40px;
    }
    .single-post:nth-child(2), .single-post:nth-child(6){
        margin-left: initial!important;
    }
    i.heateorSssSharing {
        width: 60px!important;
    }
    .content-archive.relative .grid-author{
        left: 0px;
    }
    body.archive.author .grid-author .info-author {
        display: block!important;
        margin: 0 auto;
        width: 60%;
        text-align: center;
    }
    body.archive.author .img-author{
        width: 110px;
        height: 110px;
        margin-bottom: 20px;
    }
    .content-archive.relative .bio-author {
        width: 100%;
        text-align: center;
    }
    .second-menu{
        width: 65%;
    }
    .content-suscription{
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .boton-dutcher {
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: 35px;
        height: 35px;
    }
    .logo-somos object {
        width: 280px;
    }
    .content-somos {
        padding: 50px 0px;
    }
    .text-somos{
        margin-top: 25px;
    }
    .content-contacto {
        width: 80%;
        margin: 0 auto;
    }
    .body-single blockquote{
        font-size: 20px;
    }
    .body-single p a{
        font-size: 13px;
    }
    .body-single pre {
        background: #f7f7f7;
        line-height: 6px;
        padding: 10px;
        border: solid 1px #e4e4e4;
        font-size: 10px;
    }
    .body-single .titlespecial {
        font-size: 25px;
        line-height: 37px!important;
    }
    section.content-single h2 {
        text-align: left;
        font-size: 16px;
        line-height: 25px;
    }
    .footer a.logo-button {
        width: 250px;
        margin: 0 auto;
    }
    .content-single{
        line-height: 21px;
        margin-bottom: 50px;
    }
    main.main-single p {
        margin-bottom: 6px;
    }
    .main-single iframe{
        min-height: 170px!important

    }
}
@media screen and (max-width: 479px) {
    .links-category{
        padding-right: 20px;
    }
    a.logo-button {
        left: 50%;
        top: 56%;
        transform: translate(-50%,-50%);
    }
    .menu-button{
        top: 50%;
    }
    object.logo{
        width: 130px;
    }
    .footer object.logo{
        width: 220px;
    }
    .group-post-index {
        margin-bottom: 10px;
    }
    .titlespecial{
        font-size: 19px;
    }
    .subtitle-single{
        font-size: 17px;
    }
    .most-recent-post{
        height: 92vh;
    }
    .footer-dos {
        padding: 15px 10px;
        line-height: 16px;
    }
    .single-header{
        height: 350px;
    }
    .heateor_sss_sharing_title {
        font-size: 13px;
    }
    i.heateorSssSharing {
        width: 40px!important;
    }
    aside.single-aside-left .inline.middle.img-author{
        width: 100px;
        height: 100px;
    }
    .title{
        font-size: 16px;
    }
    .category-tab {
        letter-spacing: 2px;
        line-height: 21px;
    }
    body.search .category-template, body.archive .category-template{
        padding: 20px 0px;
    }
    .single-post:last-child{
        margin-bottom: 0px!important;
    }
    .pagination-content{
        margin-top: 0px;
    }
    .content-archive.relative .grid-author {
        top: 13px;
    }
    body.archive.author .grid-author .info-author{
        width: 85%;
    }
    .second-menu{
        width: 100%;
    }
    .new-foto-instagram{
        width: 80px;
        height: 80px;
    }
    .menu-oculto .title {
        font-size: 18px;
    }
    .button-close{
        display: block;
    }
    .second-menu .centrar_total{
        top: 42%;
    }
    .search-button{
        width: 22px;
        padding-top: 12px;
    }
    .header-menu{
        height: 45px;
    }
    .content-feed{
        padding-top: 45px;
    }
    .form-search input{
        height: 42px;
        line-height: 42px;
    }
    .form-search input{
        font-size: 16px;
    }
    .show-search{
        bottom: -41px!important;
    }
    aside.single-aside-left{
        width: 100%;
        margin-bottom: 25px;
        margin-top: 25px;
    }
    .body-single{
        margin-top: 20px;
    }
    .logo-somos object {
        width: 230px;
    }
    .red{
        margin-top: 10px;
    }
    .slide-up{
        background-size: 15px;
    }
    .subtitle-single {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .single-header.relative .centrar_total {
        width: 90%;
    }
    .category-single{
        top: 10px;
    }
    .body-single blockquote {
        line-height: 26px;
    }
    .footer a.logo-button {
        top: initial!important;
        left: initial!important;
        transform: initial!important;
        width: 220px;
    }
    .logo-header {
        width: 130px;
    }
    .single .content-feed{
        padding-top: 0px;
    }
}
