* {
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
@font-face {
  font-family: 'avenir-normal';
  src: url("assets/fonts/AvenirNextLTPro-MediumCn.eot");
  src: url("assets/fonts/AvenirNextLTPro-MediumCn.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: 'avenir-bold';
  src: url("assets/fonts/AvenirNextLTPro-Bold.eot");
  src: url("assets/fonts/AvenirNextLTPro-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: 'espinoza-normal';
  src: url("assets/fonts/EspinosaNova-Regular.eot");
  src: url("assets/fonts/EspinosaNova-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: 'espinoza-bold';
  src: url("assets/fonts/EspinosaNova-Bold.eot");
  src: url("assets/fonts/EspinosaNova-Bold") format("truetype");
  font-weight: normal;
}
.avenir-normal{
    font-family: 'avenir-normal';
}
.avenir-bold{
    font-family: 'avenir-bold';
}
.espinoza-normal{
    font-family: 'espinoza-normal';
}
.espinoza-bold{
    font-family: 'espinoza-bold';
}
body, html {
    display: block;
    min-height: 100%;
    position: relative;
}

ol, ul {
    list-style-position: inside;
}

img {
    max-width: 100%;
    height: auto;
    border: 0 solid;
}
a, [data-link], [data-accion] {
    transition: 1s opacity ease;
    -moz-transition: 1s opacity ease;
    -o-transition: 1s opacity ease;
    -webkit-transition: 1s opacity ease;
}
.oculto {
    display: none !important;
}

.escondido {
    display: none;
}

.inline-block {
    display: inline-block;
    vertical-align: middle;
}

.vertical-align-top {
    vertical-align: top;
}

.checkbox {
    display: inline-block;
    vertical-align: middle;
    margin-right: 13px;
    height: 15px;
    width: 15px;
    border: 1px solid silver;
    border-radius: 100%;
    cursor: pointer;
}

.checkbox:hover {
    box-shadow: 0 0 0 4px white inset;
    background: silver;
}

.checkbox.checked {
    box-shadow: 0 0 0 4px white inset;
    background: black;
}

/*ERROR GAFA*/
.gafa-mensaje, .gafa-error {
    position: fixed;
    top: -61px;
    background: rgba(32, 32, 32, .9);
    min-height: 61px;
    z-index: 2147483647;
    line-height: 19px;
    font-size: 10px;
    cursor: pointer;
    color: white;
    font-weight: 100;
    padding: 10px 6%;
    left: 0;
    right: 0;
    text-align: left;
    letter-spacing: 1px;
}

.gafa-error {
    background-color: rgba(202, 25, 25, .9);
}

.gafa-error h1, .gafa-mensaje h1 {
    font-size: 21px;
    font-weight: 100;
    margin-top: 16px;
}

.con_error {
    border-color: red !important;
}

/*PREGUNTAS GAFA*/
div#pregunta_gafa {
    position: fixed;
    z-index: 999;
    background: #FFF;
    padding: 80px;
    top: 30%;
    right: 0;
    left: 50%;
    width: 360px;
    margin-left: -275px;
    text-align: center;
    border: 1px solid #808080;
}

div#pregunta_gafa .boton {
    margin: 3px 5px;
}

div#aceptar_pregunta_gafa {
    margin-top: 13px !important;
}
/*CARGANDO*/
.cover {
    position: fixed;
    -webkit-transform: translateZ(0);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.8);
}
/*ALIGN VERTICAL----------------------------------------------------------*/
.centrado_vertical:after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 0.01%;
    vertical-align: middle;
}
.elemento_centrado {
    display: inline-block;
    width: 99.08%;
    vertical-align: middle;
}
.centrado_vertical {
    text-align: center;
}
.staticBody{
    overflow: hidden;
}
nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
}
.header-menu{
    background: #2ebd9a;
    height: 70px;
    position: relative;
    z-index: 100;
}
.staticNav{
    left: 40%;
}
.second-menu{
    position: fixed;
    top: 0;
    left: -100%;
    width: 40%;
    height: 100vh;
    background: #354a5f;
    z-index: 110000000;
}
.secondOpen{
    left: 0%;
}
.shadow-layer{
    z-index: 100;
    position: fixed;
    background: black;
    opacity: 0.6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    cursor: url('assets/images/cross.svg'),auto;
}
.absolute{
    position: absolute;
}
.relative{
    position: relative;
}
.centrar_alto{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
.centrar_ancho{
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}
.centrar_total{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.pointer{
    cursor: pointer;
}
.showLayer{
    opacity: 0.5;
    pointer-events: all;
}
.main-content{
    position: relative;
    left: 0%;
}
.moveContent{
    left: 40%;
}
.animationMenu{
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}
.menu-button{
    width: 25px;
    height: 20px;
    left: 50px;
    top: 52%;
}
.menu-button span{
    height: 3px;
    background: white;
    display: block;
    position: absolute;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    width: 100%;
}
.menu-button:hover span{
    width: 100%;
}
.span-button-tres{
    bottom: 0;
}
object{
    pointer-events: none;
}
a.logo-button {
    display: block;
    top: 53%;
    left: 100px;
}
.footer a.logo-button{
    left: 0px;
}
object.logo {
    width: 180px;
}
.search-button{
    right: 50px;
}
.search-button img{
    width: 50px;
}
.content-feed {
    padding-top: 70px;
}
.most-recent-post{
    display: block;
    width: 100%;
    height: 94vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.shadow-position{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+81&0+0,1+82 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.99) 81%, rgba(0,0,0,1) 82%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.99) 81%,rgba(0,0,0,1) 82%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.99) 81%,rgba(0,0,0,1) 82%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    opacity: 0.4;
}
.small{
    font-size: 10px;
}
.v_small{
    font-size: 12px;
}
.medium{
    font-size: 14px;
}
.big{
    font-size: 17px;
}
.title{
    font-size: 25px;
}
.titlespecial{
    font-size: 40px;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.info-post{
    position: absolute;
    bottom: 20%;
    right: 5%;
    z-index: 10;
    width: 55%;
    min-height: 165px;
    overflow: hidden;
}
.color-white{
    color: white;
}
.color-blue{
    color: #354a5f;
}
.color-green{
    color: #2ebd9a;
}
.ls1{
    letter-spacing: 1px;
}
.ls2{
    letter-spacing: 2px;
}
.ls3{
    letter-spacing: 3px;
}
.ls5{
    letter-spacing: 5px;
}
.uppercase{
    text-transform: uppercase;
}
.excerpt{
    margin-top: 20px;
}
.feed-posts{
    width: 70%;
    margin: 0 auto;
    margin-top: 70px;
    max-width: 1008px;
    text-align: left;
}
.single-post{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 59.5%;
    height: 300px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 17px!important;
    overflow: hidden;
}
.single-post .shadow-position{
    opacity: 0;
    pointer-events: none;
}
.single-post:hover .shadow-position{
    opacity: 0.4;
}
.info-post .title {
    bottom: 0%;
    position: absolute;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    display: block;
}
.info-post .excerpt {
    position: absolute;
    bottom: -80%;
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
}
.single-post:hover .title{
    bottom: 60%;
}
.single-post:hover .excerpt{
    bottom: 0%;
}
.single-post:nth-child(2), .single-post:nth-child(3), .single-post:nth-child(6),
.single-post:nth-child(7), .single-post:nth-child(10){
    width: 39%;
}
.single-post:nth-child(2), .single-post:nth-child(6){
    margin-left: 1%;
}
.single-post:nth-child(3), .single-post:nth-child(7), .single-post:nth-child(10){
    margin-right: 1%;
}
.single-post:nth-child(2) .info-post, .single-post:nth-child(3) .info-post,
.single-post:nth-child(6) .info-post, .single-post:nth-child(7) .info-post,
.single-post:nth-child(10) .info-post{
    width: 90%;
}
.category-tab{
    background: #354a5f;
    padding: 17px 30px;
    padding-top: 20px;
    color: white;
    margin-bottom: 20px!important;
    width: 100%;
    margin: 0 auto;
}
.group-post-index{
    margin-bottom: 70px;
}
.category-tab-green{
    background: #2ebd9a!important;
}
.links-category{
    position: absolute;
    right: 0;
    top: 0px;
    padding-right: 30px;
}
#menu-header li{
    list-style: none;
    width: 115px;
    background: #2ebd9a;
    display: inline-block;
    padding: 23.5px 0px;
    position: relative;
    margin-left: -4px;
    text-align: center;
    position: relative;
    overflow: hidden;
    height: 70px;
}
#menu-header li a{
    color: white;
    z-index: 100;
    position: relative;
    font-size: 19px;
    font-family: 'avenir-normal';
    letter-spacing: 1px;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}
.current-menu-item{
    background: white!important;
}
.current-menu-item a{
    color: #2ebd9a!important;
}
#menu-header li::before{
    content: '';
    background: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top:100%;
    left: 0;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}
#menu-header li:hover a{
    color: #2ebd9a;
}
#menu-header li:hover::before{
    top: 0%;
}
.color-tab{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    background: white;

}
.item-tendencia:hover span{
    color: #2ebd9a!important;
}
.item-tendencia:hover .color-tab{
    height: 100%;
}
.footer{
    width: 100%;
    background: #354a5f;
    display: block;
}
.inline{
    display: inline-block;
}
.middle{
    vertical-align: middle;
}
.content-footer{
    width: 33.33%;
    min-height: 500px;
    position: relative;
}
.footer object.logo{
    width: 400px;
}
.footer-dos{
    width: 100%;
    color: white;
    line-height: 40px;
    background: #2ebd9a;
    padding-top: 5px;
}
.red{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('assets/images/sprite.png');
    margin-right: 20px;
}
.redcontacto{
    background: url('assets/images/spriteblack.png');
    zoom: 1.35;
}
a.red.redtw {
    background-position: -100px 0px;
}
a.red.redinsta {
    background-position: -200px 2px;
}
.mail-dutcher{
    text-align: center;
    color: white;
    margin-top: 40px;
    display: block;
}
.category-template{
    padding: 130px 0px;
    width: 90%;
    margin: 0 auto;
}
.category-template .category-tab {
    width: 100%;
}
.most-recent-post .info-post {
    min-height: initial;
}
.most-recent-post .excerpt {
    position: relative;
    bottom: initial;
}
body.post-template-default.single.single-post{
    width: 100%;
    margin-left: initial;
    background: initial;
    height: initial;
    display: initial;
    margin-bottom: initial!important;
    overflow: initial;
}
.single-header{
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
}
.color_white{
    color: white;
}
main.main-single {
    width: 75%;
    padding: 10px 0px;
    padding-left: 50px;
}
.subtitle-single{
    font-size: 19px;
}
.next-previous{
    width: 100%;
    margin-bottom: 50px;
}
.next-single{
    position: absolute;
    right: 0;
    top: 0;
}
.hr-single{
    margin: 20px 0px;
    border: solid 1px #e4dede;
}
.hr-recent{
    margin: 10px 0px;
    border: solid 1px #e4dede;
}
.category-single{
    position: absolute;
    left: 0;
    top: 30px;
    color: white;
    background: #354a5f;
    padding: 10px 25px;
}
.image-related{
    width: 100%;
    height: 220px;
    background-size: cover;
}
.title-related{
    display: block;
    margin: 10px 0px 10px 0px;
}
.info-author{
    top: 25px;
    left: 25px;
    z-index: 10;
}
.foto-autor{
    width: 42px;
    height: 42px;
    background-size: cover;
    border-radius: 100%;
    border: solid 2px white;
    z-index: 1000;
    display: inline-block;
    margin-right: 6px;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    background-position: center;
}
.info-author:hover .foto-autor{
    -webkit-box-shadow: 0px 0px 37px -2px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 37px -2px rgba(0,0,0,1);
    box-shadow: 0px 0px 37px -2px rgba(0,0,0,1);
}
.content-principal .foto-autor {
    width: 70px;
    height: 70px;
}
.heateor_sss_vertical_sharing{
    top: 50%!important;
    transform: translateY(-50%);
}
.home .heateor_sss_vertical_sharing{
    padding: 0px!important;
}
.heateor_sss_sharing_title {
    display: inline-block;
    margin-right: 10px;
    font-size: 17px;
    font-family: 'avenir-bold';
    text-transform: uppercase;
    position: relative;
    top: 2px;
}
ul.heateor_sss_sharing_ul {
    display: inline-block;
    vertical-align: middle;
}
.content-single-related .heateor_sss_sharing_container.heateor_sss_horizontal_sharing,
.content-single-related br{
    display: none;
}
.content-single{
    line-height: 27px;
}
.comments-fb{
    padding: 30px 0px;
}
body.archive.author .info-author {
    display: none;
}
.pgntn-page-pagination-intro {
    display: none!important;
}
.pagination-content {
    margin-top: 30px;
    font-size: 20px;
    font-family: 'avenir-normal';
    letter-spacing: 1px;
}
.new-foto-instagram{
    width: 170px;
    height: 170px;
    margin: 0 auto;
    border-radius: 100%;
    background-image: url('assets/images/gifs/giphy.gif');
    background-position: center;
    margin-bottom: 25px;
}
.cont-redes-menu {
    text-align: center;
    position: absolute;
    bottom: 5%;
}
.link-menu-float{
    display: block;
    margin-top: 10px;
}
.link-menu-float:hover{
    color: #2ebd9a;
}
.dutcher-menu{
    margin-top: 20px;
    margin-bottom: 10px;
}
.menu-menu-header-container {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.search-button{
    width: 23px;
}
.form-search{
    position: absolute;
    bottom: 10px;
    width: 100%;
}
.form-search input, .mc4wp-form-fields input[type="email"]{
    width: 100%;
    line-height: 60px;
    height: 60px;
    background: #354a5f;
    color: white;
    text-indent: 20px;
    border: none;
    font-size: 22px;
    font-family: 'avenir-normal';
    letter-spacing: 2px;
}
.mc4wp-form-fields input[type="email"]{
    background: white;
    color: black;
}
.mc4wp-form-fields input[type="submit"]{
    width: 100%;
    background: #2ebd9a;
    color: white;
    text-align: center;
    font-family: 'avenir-normal';
    font-size: 20px;
    border: none;
    line-height: 50px;
    height: 50px;
    margin-top: 20px;
    letter-spacing: 1px;
    cursor: pointer;
}
.form-search input::placeholder{
    color: white;
}
.form-search input:focus{
    outline-color: transparent;
    border: inherit;
    box-shadow: inherit;
}
.show-search{
    bottom: -60px!important;
}
label.screen-reader-text {
    display: none;
}
input#s:focus{
    outline-color: transparent;
    border: none;
}
.img-author {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
}
.nombre-author{
    pointer-events: none;
}
.grid-author .info-author {
    display: inline-block!important;
}
a.red-author {
    background-color: #354a5f;
    width: 35px;
    height: 35px;
    border-radius: 100%;
}
a.red-author:hover{
    opacity: 0.8;
}
a.red-author.red.redtw {
    background-position: -101px 0px;
}
a.red-author.red.redfb {
    background-position: -5px 0px;
}
a.red-author {
    margin-right: 10px;
}
.content-archive.relative .bio-author {
    width: 50%;
    margin: 5px 0px;
}
.content-archive.relative .info-author {
    margin-left: 12px;
}
.content-archive.relative .grid-author {
    position: relative;
    top: 70px;
    left: 74px;
}
aside.single-aside-left {
    width: 20%;
    margin-left: 4%;
}
.top{
    vertical-align: top;
}
.body-single {
    width: 85%;
    margin: 0 auto;
    margin-top: 40px;
}
aside.single-aside-left .inline.middle.img-author {
    margin: 0 auto!important;
    display: block;
    width: 120px;
    height: 120px;
}
aside.single-aside-left .info-author{
    display: block;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}
.single-aside-left .bio-author{
    margin: 6px 0px;
    font-size: 13px;
    line-height: 17px;
}
.single-aside-left .redes-author {
    zoom: 0.7;
}
.single-aside-left .nombre-author{
    pointer-events: all;
    font-size: 15px;
}
.single-post .category-single{
    display: none;
}
body.post-template-default.single.single-post .category-single, body.archive.author .category-single{
    display: block!important;
}
.text-justify{
    text-align: justify;
}
.grid-author {
    text-align: center;
}
.menu-oculto {
    display: none;
}
.button-close {
    right: 26px;
    top: 25px;
    font-size: 20px;
    display: none;
}
.second-menu hr {
    margin: 15px 0px;
}
.content-single-related {
    display: inline-block;
    width: 33%;
    vertical-align: top;
    padding: 0px 15px;
}
.content-single-related{
    padding-left: 0px;
}
body.archive.author .grid-author .info-author {
    text-align: left;
}
aside.single-aside-left .bio-author {
    display: none;
}
aside.single-aside-left .redes-author {
    margin-top: 13px;
}
.related-single {
    margin-bottom: 20px;
}
.author-small {
    text-align: left!important;
}
.author-small .img-author {
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
}
.author-small .bio-author {
    display: none;
}
.author-small .grid-author {
    text-align: left;
    margin-bottom: 13px;
}
.author-small .redes-author {
    display: none;
}
.author-small .nombre-author {
    font-size: 12px;
    padding-top: 5px;
}
.heateor_sss_sharing_container.heateor_sss_horizontal_sharing {
    margin-top: 30px;
}
.author-small .nombre-author {
    pointer-events: all;
}
.boton-blue {
    background: #354a5f;
}
.boton-green{
    background: #2ebd9a;
}
.boton-dutcher {
    color: white;
    line-height: 50px;
    display: block;
    height: 50px;
    width: 200px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    cursor: pointer;
    border-radius: 1px;
}
.boton-dutcher:hover{
    opacity: 0.95;
}
.most-recent .single-post.relative {
    display: block;
    width: 100%!important;
    height: 190px;
    margin-bottom: 10px!important;
}
.most-recent .info-author.absolute {
    display: none;
}
.most-recent a.title {
    font-size: 16px;
}
.most-recent .shadow-position {
    opacity: 0.4;
}
.most-recent .excerpt {
    display: none;
}
.single-post:hover .most-recent a.title{
    bottom: 0%!important;
}
.most-recent {
    padding-top: 15px;
}
.most-recent .info-post{
    bottom: 10%;
}
.text-most-recent{
    font-size: 21px;
}
.mc4wp-form-fields {
    text-align: center;
}

.mc4wp-form-fields label {
    display: block;
    color: white;
    font-family: 'avenir-normal';
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.content-suscription{
    width: 80%;
}
.mc4wp-alert.mc4wp-success {
    text-align: center;
    color: white;
    font-family: 'avenir-normal';
    font-size: 16px;
    margin-top: 20px;
}
.logo-somos object {
    width: 450px;
}
.content-somos {
    padding: 100px 0px;
}
.text-somos {
    width: 40%;
    margin: 0 auto;
    margin-top: 60px;
}
.vision-dutcher{
    margin-top: 50px;
    margin-bottom: 20px;
}
.content-contacto .titlespecial {
    margin-bottom: 30px;
}
.content-contacto .title {
    margin-bottom: 30px;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
}
.body-single blockquote {
    font-size: 40px;
    font-family: 'avenir-normal';
    letter-spacing: 3px;
    border-left: solid 6px black;
    padding-left: 20px;
    line-height: 50px;
}
.body-single p a {
    font-style: italic;
    text-decoration: underline;
    font-size: 18px;
    color: #354a5f;
}
.body-single h6 {
    font-size: 13px;
    line-height: 6px;
}
.body-single pre {
    background: #f7f7f7;
    line-height: 24px;
    padding: 10px;
    border: solid 1px #e4e4e4;
    font-size: 15px;
}
nav object.logo{
    z-index: 10;
}
